*{
	margin: 0;
	padding: 0;
}

/*css body*/
body{
	background-color: #3b6978;
	color: #fff; 
}
/*css en h1 text som är lägnst upp på sidan*/
h1{
	text-align: center;
	font-size: 50px:
}
/*css till meny*/
.global-meny{
	list-style: none;
	margin-top: 50px;
}
/*css till meny*/
.global-meny li{
	display: inline-block;
}
/*css till meny*/
.global-meny li a{
	text-decoration: none;
	color: #fff;
	padding: 15px;
	font-size: 25px;
}
/*css rubrik överst på sidan*/
.Rubrik {
	text-align: center;
	font-size: 50px;
	color: #fff;
}
/*css till video på videosidan*/
.video{

}
/*css till video på videosidan*/
.video1{
	margin: 15px;
}
/*css till video på videosidan*/
.video2{
	margin: 15px;
}
/*css till video på videosidan*/
.video3{
	margin: 15px;
}

